html,body,#map{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#graph {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.75);
  padding: 2px;
  z-index: 2000;
}

#control {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.75);
  padding: 2px;
  z-index: 100;
}
#control input {
  width: 35px;
}
#control input[type="checkbox"], #control input[type="radio"] {
  width: inherit;
  margin-left: 10px;
}
#control input[type="range"] {
  width: 300px;
  vertical-align: middle;
}
#control #curtime {
  width: 80px;
}
#control [for="sampling"] {
  margin-left: 10px;
}
#control #sampling {
  width: 100px;
}
#tooltip {
  margin-left: 0px;
  margin-top: 0px;
  line-height: 16px;
  padding: 2px 5px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 12px;
  color: black;
  pointer-events: none;
}
#tooltip.hidden {
  display: none;
}

